<header>
  <div>
    <img src="images/hoodq-logo.png" id="logo">
    <div class="container">
      <h2 id="title">Address Comparison Prioritizer</h2>
    </div>
  </div>
</header>


<section>
  <div class="container">
    <div class="row">

      <!--  LIST #1 -->
      <div class="col-sm-6">
        <div class="form-group">
          <label for="sel1">Select list:</label>
          <select class="form-control" id="sel1">
            <% @json.each do |i| %>
              <option><%= i["address"] %></option>
            <% end %>
          </select>
        </div> <!-- form-group -->
      </div> <!-- col -->

      <!--  LIST #2 -->
      <div class="col-sm-6">
        <div class="form-group">
          <label for="sel1">Select list:</label>
          <select class="form-control" id="sel2">
            <% @json.each do |i| %>
              <option><%= i["address"] %></option>
            <% end %>
          </select>
        </div> <!-- form-group -->
      </div> <!-- col -->
    </div> <!-- row -->

    <%= form_tag(new_map_datum_path, method: :get) do %>
      <%= submit_tag 'Compare!', id: 'compare_button' %>
    <% end %>
  </div>
</section>


<section class="pricing" id="PRICING">
<div class="container">
    <div class="row flat_price">
        <div class="col-sm-6">
            <ul class="plan wow fadeInUp animated" data-wow-duration="500ms">
                <li class="plan-name">
                    PICK #1
                </li>
                <li class="plan-price">
                    <strong class="price">Address</strong>
                </li>
                <li>
                    Nearest Coffee Shop:
                </li>
                <li>
                    Work Distance:
                </li>
                <li>
                    Nearby Dog Park:
                </li>
            </ul>
        </div>

        <div class="col-sm-6">
            <ul class="plan wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
                <li class="plan-name">
                    PICK #2
                </li>
                <li class="plan-price">
                    <strong class="price">Address</strong>
                </li>
                <li>
                    Nearest Coffee Shop:
                </li>
                <li>
                    Work Distance:
                </li>
                <li>
                    Nearby Dog Park:
                </li>
            </ul>
        </div>
    </div><!-- END ROW -->
</div><!-- END CONTAINER -->
</section>

<img src="images/neighbourhood.png" id="neighbourhood">
