
#logo {
  padding-top:20px;
  padding-left:50px;
}

#title {
  text-align: center;
  color: #00AEEF;
  font-family: 'avenir';
  font-size: 50px;
  padding-bottom: 30px;
}

#neighbourhood {
  z-index: -1;
  // object-fit: cover;
  position: absolute;
}
// ############## COMPARISON BOXES ##################
#compare-boxes {

  div.col-sm-6 {
    padding-bottom: 15px;
  }

  h3 {
    padding-bottom: 15px;
    font-family: Avenir;
    font-size: 40px;
    color: #c1d42f;

  }
  .pricing_title span {
    font-family: Avenir;
    font-size: 3em;
    color: #efc337;
    text-transform: uppercase;
    margin-top: 100px;
    letter-spacing: 10px;
    font-weight: 400;
  }

  .pricing .plan {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .pricing .plan li > strong {
    padding: 8px 10px;
    color: #000;
    -webkit-transition: 300ms;
    transition: 300ms;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
  }

  .pricing .plan li.plan-price {
    border-top: 0;
    margin: 10px auto;
    font-size: 50px;
  }

  .pricing .plan li.plan-action {
    border-top: 0;
  }

  .btn-services {
    color: #FFF;
    background-color: #000000;
    border-radius: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: 3px;
    margin-bottom: 25px;
  }

  .pricing .plan {
    border:5px solid #00AEEF;
  }

  .pricing .plan li.plan-name {
    font-family: Avenir;
    padding: 40px 40px 20px 40px;
    // padding-bottom: 20px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #222;
    font-weight: 800;
  }

  .pricing .plan .price {
    font-family: Avenir;
    letter-spacing: 3px;
    font-weight: 200;
    font-size: 25px;
    color: #000;
  }

  .pricing .plan li {
    padding: 15px 20px;
    color: #000;
    -webkit-transition: 300ms;
    transition: 300ms;
    font-family: Avenir;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: 300;
  }
}

// ############## COMPARE ##################
#compare_button {
  color: #fff;
  background-color: #c1d42f;
  border-color: #c1d42f;
  display: block;
  font-weight: 200;
  text-align: center;
  border: 1px solid transparent;
  font-family: Avenir;
  font-size: 24px;
  border-radius: 16px;
  padding: 18px 26px 16px;
  margin: auto;
  margin-bottom: 25px;
}

#compare_button:hover {
  color: #fff;
  background-color: #9dac24;
  border-color: #95a422;
}

#form {
  margin: 25px;
  text-align: center;
}

p {
  padding: 15px 20px;
  color: #000;
  font-family: Avenir;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 100;
  color: #c1d42f;
}

select {
  background-color: transparent;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  margin: 10px;
  border-radius: 3px;
  text-indent: 10px;
  text-overflow: '';
  text-align: center;
  height: 55px;
  width: 300px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

@media screen and (max-width: 767px) {
  select {
    width: 250px;
    margin: 10px;
  }
}

// ############## PRIORITY ##################
#priority-section {
  #sortable {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    // width: 60%;
    text-align: center;
  }
  #sortable li {
    margin-bottom: 5px;
    padding: 15px;
    padding-left: 40px;
    /*padding-left: 1.5em;*/
    font-size: 1.6em;
    height: 50px;
    border: 2px solid;
    border-color: #c1d42f;
    text-align: center;
    color:#00AEEF;
    font-family: avenir;

  }
  #sortable li span {
    position: absolute;
    // margin-left: -1.3em;
    text-align: center;
    // display: inline-block;
  }

  h4 {
    text-align: center;
    font-size: 20px;
    color: white;
    // background-color: #e36626;
    background-color: #e36626;
    // opacity: 1;
    height: 40px;
    font-family: avenir;
    padding: 10px; ;
  }

  ul {
    display: inline;
  }

  #prioritize_button {
    color: #fff;
    background-color: #c1d42f;
    border-color: #c1d42f;
    display: block;
    font-weight: 200;
    text-align: center;
    border: 1px solid transparent;
    font-family: Avenir;
    font-size: 24px;
    border-radius: 16px;
    padding: 18px 26px 16px;
    margin: auto;
    margin-bottom: 15px;
  }

  #prioritize_button:hover {
    color: #fff;
    background-color: #9dac24;
    border-color: #95a422;
  }

  div#priority.container {
    text-align: center;
  }

  #desc {
    font-family: Avenir;
    color: black;
    text-align: center;
    // font-size: ;
    margin-bottom: 0;
    padding-bottom: 2px;
  }


}
// responsive for priority options text
@media screen and (max-width: 767px) {
  #sortable {
    font-size: 12px;
  }

}

@media screen and (max-width: 532px) {
  #sortable {
    font-size: 10px;
  }
}

@media screen and (max-width: 452px) {
  #sortable {
    font-size: 9px;
  }
}
@media screen and (max-width: 423px) {
  #sortable {
    font-size: 8.2px;
  }
}
@media screen and (max-width: 400px) {
  #sortable {
    font-size: 8.2px;
  }
}
